@Master['Master.html']

@Section['Page']
<div class="container">
    <div class="row text-center  ">
        <div class="col-md-12">
            <br /><br />
            <h2 style="color: white"> Listado de categoria. </h2>
            <br />
        </div>
    </div>
    <div class="row">

        <div class="col-xs-10 col-xs-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>  Categorias </strong>
                </div>
                <div class="panel-body">
                    <form role="form" id="formCategority" action="#">
                        <br />
                        <div class="form-group input-group">
                            <span class="input-group-addon">Seleccione un menu</span>
                            <select name="LetterMenuId" data-bind="options: Categority,
                             optionsText: 'Name',
                               value: Cat"></select>
                        </div>
                        <table id="tlCategory" class="table">
                            <thead>
                                <tr><th>Nombre</th><th>Descripcion</th></tr>
                            </thead>
                            <tbody data-bind="foreach: Products">
                                <tr>
                                    <td data-bind="text: Name"></td>
                                    <td data-bind="text: Description"></td>
                                    <td><button data-bind="click: edit">Edit</button></td>
                                    <td><button data-bind="click: remove">Eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>                  
                        <button class="submit" type="button" id="btnAdd" data-bind="click:getProducts" value="Submit">Listar</button>
                    </form>
                </div>

            </div>
        </div>


    </div>
</div>
@EndSection
@Section['MasterJavaScript']
<script language="javascript" type="text/javascript">
    $(function () {
        $("#dvLoading").show();
        $.getJSON("@Path['~/']api/Category/GetCategory", function (data) {
            ko.applyBindings(createViewModel(data));
            $("#dvLoading").hide();
        });
    })
    function createViewModel(data) {
        var self = this;
        self.Categority = ko.observable(data.Categoritys);
        self.Cat = ko.observable({Name:""});
        self.Products = ko.observableArray([]);
        self.getProducts = function () {
            $("#dvLoading").show();
            self.Products.removeAll();
            $.ajax({
                url: "@Path['~/']api/Products/LoadProduct",
                type: "POST",
                data: ko.toJSON(Cat),
                datatype: "json",
                processData: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#dvLoading").hide();
                    if (data.Code == 0) {
                        for (var i = 0, j = data.Products.length; i < j; i++) {
                            var item = data.Products[i];
                            self.Products.push(item);
                        };
                    }
                    else
                        alert(data.Message);
                },
                error: function (data) {
                    alert(data);
                    $("#dvLoading").hide();
                    alert('No se pudo completar su solicitud.');
                }

            });
        };
        self.edit = function (data) {
            window.location = "@Path['~/']EditProduct/" + data.Name + "/" + self.Cat().Id;
        };
        self.remove = function (data) {
            $("#dvLoading").show();
            $.ajax({
                url: "@Path['~/']api/Letter/deleteCategority",
                type: "DELETE",
                data: ko.toJSON(data),
                datatype: "json",
                processData: false,
                contentType: "application/json; charset=utf-8",
                success: function (dataSucces) {
                    $("#dvLoading").hide();
                    if (dataSucces.Code == 100)
                        alert('Ya existe una categoria con ese nombre.');
                    else if (dataSucces.Code > 0) {
                        self.Categority.remove(function (item) { return item.Name == data.Name });
                        alert("Categoria eliminada");
                    }
                    else
                        alert(dataSucces.Message);
                },
                error: function (data) {
                    alert(data);
                    $("#dvLoading").hide();
                    alert('No se pudo completar su solicitud.');
                }

            });
        }
    }
    function InitializedPage(data) {
        for (var i = 0, j = data.Categoritys.length; i < j; i++) {
            var item = data.Categoritys[0];
            alert(item.Name);
            self.Categority.push({ Name: item.Name });
        };
    }
     </script>
@EndSection